<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    
    # Redirect Trailing Slashes
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]
    
    # Send Requests To Front Controller
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# Email Configuration for Password Reset
SetEnv MAIL_HOST "smtp.gmail.com"
SetEnv MAIL_PORT "587"
SetEnv MAIL_USERNAME "creativeaestheticacademy@gmail.com"
SetEnv MAIL_PASSWORD "arqv lxzz nzru bojg"
SetEnv MAIL_FROM_ADDRESS "creativeaestheticacademy@gmail.com"
SetEnv MAIL_FROM_NAME "CAATE-ITRMS"
